<html lang="en" data-color-mode="auto" data-light-theme="light" data-dark-theme="dark" data-a11y-animated-images="system" data-turbo-loaded="">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/octicons.css">
    <% css.forEach(function (href) { %>
      <link href="<%= href %>" rel="stylesheet">
    <% }) %>
    <script>
    window.addEventListener('hashchange', () => {
      if (document.querySelector(':target')) {
        return;
      }

      const hash = location.hash.substring(1).toLowerCase();
      const element = document.querySelector(`#user-content-${hash}`);
      if (element) {
        element.scrollIntoView();
      }
    });
    </script>
  </head>
  <body>
    <div class="clearfix container-xl mt-4 px-md-4 px-lg-5 px-3">
      <% if (dir) { %>
      <div id="file-explorer" class="bubble tree-browser-wrapper">
        <div class="Box mb-3">
          <table class="tree-browser css-truncate" cellpadding="0" cellspacing="0">
            <tbody class="tree-entries">
              <% dir.dirs.forEach(function (dir) { %>
              <tr>
                <td class="icon"><span class="octicon octicon-file-directory"></span></td>
                <td class="content"><a href="<%= dir.href %>"><%= dir.name %></a></td>
              </tr>
              <% }) %>
              <% dir.md.forEach(function (file) { %>
              <tr>
                <td class="icon"><span class="octicon octicon-file-text"></span></td>
                <td class="content"><a href="<%= file.href %>"><%= file.name %></a></td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <% } %>
      <div id="readme" class="Box md">
        <div class="Box-body px-5 pb-5">
          <article class="markdown-body entry-content">
            <%- markdown %>
          </article>
        </div>
      </div>
    </div>
  </body>
</html>
